.filter-item {
    width: 100%;
    border: none;
    background: white;
    color: #333;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    transition: .3s;
}

.filter-item:hover {
    background: #ffe082;
}

.filter-item.active {
    background: #ffcb05;
    color: #333;
    font-weight: 600;
}